body {
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: calc(200px + env(safe-area-inset-top));
    padding-bottom: calc(25px + env(safe-area-inset-bottom));

    text-align: center;

    background-image: linear-gradient(
    120deg,
    hsl(0, 80%, 15%),
    hsl(51, 80%, 15%),
    hsl(103, 80%, 15%),
    hsl(154, 80%, 15%),
    hsl(206, 80%, 15%),
    hsl(257, 80%, 15%),
    hsl(309, 80%, 15%),
    hsl(360, 80%, 15%)
);

    background-size: 700% 700%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0;
}

p {
    opacity: 0.5;
    margin-top: 5px;
}

nav {
    margin-top: 50px;
}

a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 1.5rem;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    opacity: 0.6;
}

a:active {
    opacity: 0.6;
}


button {
    all: unset;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;

    cursor: pointer;
}

button:hover {
    opacity: 0.6;
}


.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


.player-controls button {
    all: unset;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;

    cursor: pointer;
}

.player-controls button:hover {
    opacity: 0.6;
}


.info {
    margin-top: 50px;
}
.log {
    margin-top: 50px;
    margin-bottom: 50px;
}

.log h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
}

.log p {
    margin-top: 10px;
}
body.landing {
    background-position: 0% 50%;
}

body.digital {
    background-position: 16% 50%;
}

body.vocal {
    background-position: 32% 50%;
}

body.music {
    background-position: 48% 50%;
}

body.media {
    background-position: 64% 50%;
}

body.code {
    background-position: 80% 50%;
}

body.log {
    background-position: 96% 50%;
}
body.loaded {
    opacity: 1;
}

body.fade-out {
    opacity: 0;
}